html {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.hr-full-width {
  position: absolute;
  width: 100vw;
  left: 0;
  margin-top: 0;
  margin-bottom: 0;
  border: none;
  background-color: var(--hr-full-width-bg-color);
  height: 1px;
}
