.section-ig-masonry {
  padding-top: 40px;
  padding-bottom: 130px;

  @media (max-width: $desktop) {
    padding-bottom: 80px;
  }

  @media (max-width: $tablet) {
    padding-bottom: 71px;
  }
}

.section-ig-masonry__title {
  margin-bottom: 30px;

  @media (max-width: $desktop) {
    margin-bottom: 18px;
  }
}

.section-ig-masonry__asperand {
  font-size: 42px;
  line-height: 55px;
  color: var(--text-default-color);
}

.section-ig-masonry__gallery-masonry {
  margin-top: 64px;

  @media (max-width: $tablet) {
    margin-top: 50px;
  }
}
