.section-catalog {
  margin-bottom: 75px;
}

.section-catalog__wrapper {
  display: grid;
  grid-template-columns: 250px 1fr;
  column-gap: 50px;

  @media (max-width: $desktop) {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }

  @media (max-width: $tablet) {
    row-gap: 40px;
  }
}

.section-catalog__pagination {
  margin-top: 51px;
}
