@font-face {
  font-family: "Cormorant Garamond";
  src: local("Cormorant Garamond"),
    url("../fonts/cormorant-garamond-regular.woff2") format("woff2"),
    url("../fonts/cormorant-garamond-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: local("Cormorant Garamond"),
    url("../fonts/cormorant-garamond-regular-italic.woff2") format("woff2"),
    url("../fonts/cormorant-garamond-regular-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: local("Cormorant Garamond"),
    url("../fonts/cormorant-garamond-medium-italic.woff2") format("woff2"),
    url("../fonts/cormorant-garamond-medium-italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: local("Cormorant Garamond"),
    url("../fonts/cormorant-garamond-semibold.woff2") format("woff2"),
    url("../fonts/cormorant-garamond-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: local("Cormorant Garamond"),
    url("../fonts/cormorant-garamond-bold.woff2") format("woff2"),
    url("../fonts/cormorant-garamond-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url("../fonts/poppins-regular.woff2") format("woff2"),
    url("../fonts/poppins-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url("../fonts/poppins-medium.woff2") format("woff2"),
    url("../fonts/poppins-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url("../fonts/poppins-bold.woff2") format("woff2"),
    url("../fonts/poppins-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
