.container {
  max-width: 1170px;
  padding: 0 30px;
  margin: 0 auto;

  @media (max-width: $desktop) {
    padding: 0 45px;
  }

  @media (max-width: $tablet) {
    padding: 0 15px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  margin: -1px;
}

.show-on-desktop {
  @media (max-width: $desktop) {
    display: none;
  }
}

.show-on-mobile {
  display: none;

  @media (max-width: $tablet) {
    display: block;
  }
}

.d-flex {
  display: flex;
}
