.container {
  max-width: 1170px;
  padding: 0 30px;
  margin: 0 auto;

  @media (max-width: $desktop) {
    padding: 0 45px;
    max-width: none;
  }

  @media (max-width: $tablet) {
    padding: 0 15px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  margin: -1px;
}

.show-on-desktop {
  @media (max-width: $desktop) {
    display: none;
  }
}

.show-on-mobile {
  display: none;

  @media (max-width: $tablet) {
    display: block;
  }
}

.hide-on-mobile {
  @media (max-width: $tablet) {
    display: none;
  }
}

.d-flex {
  display: flex;
}

.text-upper {
  text-transform: uppercase;
}

.text-lower {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}

.text-muted {
  color: var(--text-muted);
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-justify-center {
  justify-content: center;
}

.centered-box {
  align-self: center;
  margin: 0 auto;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}
