$black: #000000;
$white: #ffffff;
$white-15: #ffffff26;
$zeus: #1d1613;
$dawn: #9b9997;
$muesli: #a87b62;
$judge-gray: #564034;
$pearl-bush: #f0eae4;
$desert-storm: #f6f5f4;
$science-blue: #0969da;
$pomegranate: #f22f2f;
$science-blue-50: #096bda82;
$westar: #dbd5d0;
$westar-23: #dbd5d03d;

:root,
[data-color-mode="light"][data-light-theme="light"] {
  --outline-box-shadow: 0 0 0 3px #{$science-blue-50};
  --outline-invalid-box-shadow: 0 0 0 3px #{$pomegranate};
  --text-default-color: #{$zeus};
  --text-muted-color: #{$dawn};
  --text-muted-color-hover: #{darken($dawn, 10)};
  --primary-color: #{$muesli};
  --logo__image-fill: var(--primary-color);
  --hr-full-width-bg-color: #{$desert-storm};
  --search-field__icon-fill: #{$black};
  --search-field__icon-fill--open: #{$white};
  --search-field-bgc--open: #{$white-15};
  --search-field__input-color--open: #{$white};
  --site-header__wrapper-bgc--open: #{$muesli};
  --site-navigation__list-link--open-color: #{$white};
  --app-control__cart-icon--open: #{$white};
  --menu-button__icon-stroke: #{$zeus};
  --menu-button__icon-stroke--open: #{$white};
  --site-footer-bgc: #{$white};
  --button-color: #{$zeus};
  --button-bgc: #{$pearl-bush};
  --button-border-color: #{$zeus};
  --button-bgc-hover: #{darken($pearl-bush, 10)};
  --button-border-color-hover: #{darken($zeus, 10)};
  --button-box-shadow: 0 0 0 3px #{$science-blue-50};
  --button--primary-color: #{$white};
  --button--primary-bgc: #{$muesli};
  --button--primary-border-color: #{$muesli};
  --button--primary-bgc-hover: #{darken($muesli, 10)};
  --button--primary-border-color-hover: #{darken($muesli, 10)};
  --button--outline-color: #{$zeus};
  --button--outline-bgc: #{$white};
  --button--ouline-border-color: #{$muesli};
  --button--outline-bgc-hover: #{darken($white, 10)};
  --button--ouline-border-color-hover: #{darken($muesli, 10)};
  --button--invisible-color: #{$zeus};
  --button--invisible-color-hover: #{$muesli};
  --button__icon--primary-stroke: #{$muesli};
  --button__icon--primary-stroke-hover: #{darken($muesli, 10)};
  --title-color: #{$zeus};
  --subtitle-color: #{$zeus};
  --subtitle--subtle-color: #{lighten($black, 30)};
  --subtitle--italic-color: #{$zeus};
  --link-color: #{$science-blue};
  --link-color-hover: #{$muesli};
  --link--primary-color: #{$zeus};
  --link--secondary-color: #{$dawn};
  --link--lead-after-bgc: #{$muesli};
  --form-control-color: #{$zeus};
  --form-control-color-hover: #{$muesli};
  --form-control-color-placeholder: #{$dawn};
  --form-control-color-hover-placeholder: #{darken($dawn, 10)};
  --form-control-box-shadow: 0 0 0 3px #{$science-blue-50};
  --input-group-border-bottom-color: #{$zeus};
  --page-banner-before-bgc: #{$judge-gray};
  --page-banner-bgc: #{$judge-gray};
  --product-card__title-color: #{$zeus};
  --product-card__title-color-hover: #{$muesli};
  --product-card__price-color: #{$zeus};
  --product-card__price-color-hover: #{$muesli};
  --text-muted: #{$dawn};
  --blog-masonry__info-color: #{$pearl-bush};
  --dropdown--color: #{$zeus};
  --accordion__item-border-color: #{$muesli};
  --accordion__icon-stroke: #{$muesli};
  --accordion__icon-stroke-hover: #{darken($muesli, 10)};
  --checkbox__icon-color: #{$muesli};
  --checkbox__icon-color-hover: #{darken($muesli, 10)};
  --range-filter__scale-bgc: #{$desert-storm};
  --range-filter__bar-bgc: #{$muesli};
  --range-filter__toggle-bgc-before: #{$muesli};
  --range-filter__toggle-bgc-before-hover: #{darken($muesli, 10)};
  --filter-form--open-box-shadow: #{$westar-23};
  --login-form-bgc: #{$pearl-bush};
  --input-text-border-color: #{$zeus};
  --input-text-input-color: #{$zeus};
  --input-text-input-color-placeholder: #{$dawn};
  --input-text-input-color-placeholder-hover: #{darken($dawn, 10)};
  --input-text__additional-text-color: #{$dawn};
  --input-text__validator-text-color: #{$pomegranate};
  --login-form__text-color: #{$dawn};
  --close-button-fill: #{$zeus};
  --close-button-fill-hover: #{$muesli};
  --close-button--round-fill: #{$white};
  --close-button--round-fill-hover: #{$muesli};
  --close-button--round-bgc: #{$zeus};
  --page-body--locked-bgc: #{$white};
}

[data-color-mode="dark"][data-dark-theme="dark"],
[data-color-mode="dark"][data-dark-theme="dark_pastel"] {
  --site-footer-bgc: #{$black};
  --text-default-color: #{$white};
  --button-border-color: #{$pearl-bush};
  --button-box-shadow: 0 0 0 3px #{$science-blue};
  --button--invisible-color: #{$white};
  --title-color: #{$white};
  --subtitle-color: #{$white};
  --subtitle--subtle-color: #{$dawn};
  --subtitle--italic-color: #{$white};
  --link--primary-color: #{$white};
  --form-control-color: #{$white};
  --form-control-color-hover-placeholder: #{lighten($dawn, 10)};
  --form-control-box-shadow: 0 0 0 3px #{$science-blue};
  --input-group-border-bottom-color: #{$white};
  --product-card__title-color: #{$white};
  --product-card__price-color: #{$white};
  --blog-masonry__info-color: #{$zeus};
  --dropdown--color: #{$white};
  --accordion__icon-stroke-hover: #{$white};
  --checkbox__icon-color: #{$desert-storm};
  --checkbox__icon-color-hover: #{$pearl-bush};
  --range-filter__toggle-bgc-before-hover: #{$desert-storm};
  --input-text-input-color: #{$white};
  --input-text-border-color: #{$white};
  --close-button-fill: #{$white};
  --close-button--round-fill: #{$zeus};
  --close-button--round-bgc: #{$white};
}

[data-color-mode="dark"][data-dark-theme="dark"] {
  background-color: $black;
}

[data-color-mode="light"][data-light-theme="light"] {
  background-color: $white;
}
