---

---

<!-- data-color-mode="dark" data-dark-theme="dark" -->
<footer class="site-footer" data-color-mode="dark" data-dark-theme="dark">
  <div class="site-footer__grid container">
    <div class="site-footer__newsletter">
      <h2 class="title title--second">
        The good stuff <br class="show-on-mobile" />in&nbsp;your&nbsp;inbox
      </h2>
      <p class="subtitle subtitle--subtle">
        News and updates from CH. <br
          class="show-on-mobile"
        />No&nbsp;spam,&nbsp;we&nbsp;promise.
      </p>
      <form class="site-footer__form" action="#">
        <div class="input-text input-text--flex">
          <label class="visually-hidden" for="subscirbe-email"
            >Your E-mail</label
          >
          <input
            type="email"
            name="subscribe-email"
            placeholder="Your E-mail"
            id="subscirbe-email"
            autocomplete="off"
            required
          />
          <span class="input-text__validation input-text__validation--invalid"
            >Provide valid email</span
          >
          <button class="button button--invisible" type="submit">
            <span>Sign Up</span>
            <svg class="button__icon" width="30" height="11" aria-hidden="true">
              <use xlink:href="/img/sprite_auto.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </form>
    </div>
    <ul class="site-footer__list site-footer__list--site-links list">
      <li>
        <a class="link link--primary" href="#">Ordering & Payment</a>
      </li>
      <li>
        <a class="link link--primary" href="#">Terms & Conditions</a>
      </li>
      <li>
        <a class="link link--primary" href="#">Returns & Exchanges</a>
      </li>
      <li>
        <a class="link link--primary" href="#">Delivery</a>
      </li>
    </ul>
    <ul class="site-footer__list site-footer__list--site-links list">
      <li>
        <a class="link link--primary" href="#">About CH</a>
      </li>
      <li>
        <a class="link link--primary" href="#">Stores & Hours</a>
      </li>
      <li>
        <a class="link link--primary" href="#">Jobs</a>
      </li>
      <li>
        <a class="link link--primary" href="#">Contact Us</a>
      </li>
    </ul>
    <ul class="site-footer__list site-footer__list--icons list">
      <li>
        <a class="link link--primary link--m-icon-only" href="#">
          <svg class="link__icon" width="15" height="15" aria-hidden="true">
            <use xlink:href="/img/sprite_auto.svg#icon-facebook"></use>
          </svg>
          <span class="link__text">Facebook</span>
        </a>
      </li>
      <li>
        <a class="link link--primary link--m-icon-only" href="#">
          <svg class="link__icon" width="15" height="15" aria-hidden="true">
            <use xlink:href="/img/sprite_auto.svg#icon-instagram"></use>
          </svg>
          <span class="link__text">Instagram</span>
        </a>
      </li>
      <li>
        <a class="link link--primary link--m-icon-only" href="#">
          <svg class="link__icon" width="15" height="15" aria-hidden="true">
            <use xlink:href="/img/sprite_auto.svg#icon-pinterest"></use>
          </svg>
          <span class="link__text">Pinterest</span>
        </a>
      </li>
      <li>
        <a class="link link--primary link--m-icon-only" href="#">
          <svg class="link__icon" width="15" height="15" aria-hidden="true">
            <use xlink:href="/img/sprite_auto.svg#icon-twitter"></use>
          </svg>
          <span class="link__text">Twitter</span>
        </a>
      </li>
    </ul>
  </div>
</footer>
