---

---

<div class="splide slider">
  <div class="splide__arrows slider__controls d-flex flex-justify-between">
    <button
      class="button button--invisible slider__button slider__button--prev splide__arrow splide__arrow--prev"
      type="button"
      aria-label="Previous Slide"
    >
      <svg
        class="button__icon button__icon--primary"
        width="30"
        height="11"
        aria-hidden="true"
      >
        <use xlink:href="/img/sprite_auto.svg#icon-arrow-left"></use>
      </svg>
    </button>
    <button
      class="button button--invisible slider__button slider__button--next splide__arrow splide__arrow--next"
      type="button"
      aria-label="Next Slide"
    >
      <svg
        class="button__icon button__icon--primary"
        width="30"
        height="11"
        aria-hidden="true"
      >
        <use xlink:href="/img/sprite_auto.svg#icon-arrow-right"></use>
      </svg>
    </button>
  </div>
  <a class="link link--primary link--underline text-capitalize" href="#"
    >Shop Now</a
  >
  <div class="splide__track slider__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <a class="product-card" href="#">
          <picture>
            <source
              type="image/webp"
              media="(max-width: 767px)"
              srcset="/img/products/purple-gemstone-necklace-newin-mobile.webp 1x,img/products/purple-gemstone-necklace-newin-mobile@2x.webp 2x"
            />
            <source
              type="image/webp"
              media="(max-width: 1023px)"
              srcset="/img/products/purple-gemstone-necklace-newin-tablet.webp 1x,img/products/purple-gemstone-necklace-newin-tablet@2x.webp 2x"
            />
            <source
              type="image/webp"
              srcset="/img/products/purple-gemstone-necklace-newin-desktop.webp 1x,img/products/purple-gemstone-necklace-newin-desktop@2x.webp 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="/img/products/purple-gemstone-necklace-newin-mobile.jpg 1x, img/products/purple-gemstone-necklace-newin-mobile@2x.jpg 2x"
            />
            <source
              media="(max-width: 1023px)"
              srcset="/img/products/purple-gemstone-necklace-newin-tablet.jpg 1x, img/products/purple-gemstone-necklace-newin-tablet@2x.jpg 2x"
            />
            <img
              width="270"
              height="284"
              src="/img/products/purple-gemstone-necklace-newin-desktop.jpg"
              srcset="/img/products/purple-gemstone-necklace-newin-desktop@2x.jpg 2x"
              alt="Picture of necklace with amethyst"
            />
          </picture>
          <h3>Necklace with amethyst</h3>
          <p>$ 145</p>
        </a>
      </li>
      <li class="splide__slide">
        <a class="product-card" href="#">
          <picture>
            <source
              type="image/webp"
              media="(max-width: 767px)"
              srcset="/img/products/layered-choker-necklace-newin-mobile.webp 1x,img/products/layered-choker-necklace-newin-mobile@2x.webp 2x"
            />
            <source
              type="image/webp"
              media="(max-width: 1023px)"
              srcset="/img/products/layered-choker-necklace-newin-tablet.webp 1x,img/products/layered-choker-necklace-newin-tablet@2x.webp 2x"
            />
            <source
              type="image/webp"
              srcset="/img/products/layered-choker-necklace-newin-desktop.webp 1x,img/products/layered-choker-necklace-newin-desktop@2x.webp 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="/img/products/layered-choker-necklace-newin-mobile.jpg 1x, img/products/layered-choker-necklace-newin-mobile@2x.jpg 2x"
            />
            <source
              media="(max-width: 1023px)"
              srcset="/img/products/layered-choker-necklace-newin-tablet.jpg 1x, img/products/layered-choker-necklace-newin-tablet@2x.jpg 2x"
            />
            <img
              width="270"
              height="284"
              src="/img/products/layered-choker-necklace-newin-desktop.jpg"
              srcset="/img/products/layered-choker-necklace-newin-desktop@2x.jpg 2x"
              alt="Picture of layered сhoker"
            />
          </picture>
          <h3>Layered сhoker</h3>
          <p>$ 115</p>
        </a>
      </li>
      <li class="splide__slide">
        <a class="product-card slider__slide slider__slide--show" href="#">
          <picture>
            <source
              type="image/webp"
              media="(max-width: 767px)"
              srcset="/img/products/dainty-gold-necklace-newin-desktop.webp 1x,img/products/dainty-gold-necklace-newin-desktop@2x.webp 2x"
            />
            <source
              type="image/webp"
              media="(max-width: 1023px)"
              srcset="/img/products/dainty-gold-necklace-newin-desktop.webp 1x,img/products/dainty-gold-necklace-newin-desktop@2x.webp 2x"
            />
            <source
              type="image/webp"
              srcset="/img/products/dainty-gold-necklace-newin-desktop.webp 1x,img/products/dainty-gold-necklace-newin-desktop@2x.webp 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="/img/products/dainty-gold-necklace-newin-desktop.jpg 1x, img/products/dainty-gold-necklace-newin-desktop@2x.jpg 2x"
            />
            <source
              media="(max-width: 1023px)"
              srcset="/img/products/dainty-gold-necklace-newin-desktop.jpg 1x, img/products/dainty-gold-necklace-newin-desktop@2x.jpg 2x"
            />
            <img
              width="270"
              height="284"
              src="/img/products/dainty-gold-necklace-newin-desktop.jpg"
              srcset="/img/products/dainty-gold-necklace-newin-desktop@2x.jpg 2x"
              alt="Picture of gold chain"
            />
          </picture>
          <h3>Gold chain</h3>
          <p>$ 215</p>
        </a>
      </li>
      <li class="splide__slide">
        <a class="product-card" href="#">
          <picture>
            <source
              type="image/webp"
              media="(max-width: 767px)"
              srcset="/img/products/galaxy-earrings-newin-desktop.webp 1x,img/products/galaxy-earrings-newin-desktop@2x.webp 2x"
            />
            <source
              type="image/webp"
              media="(max-width: 1023px)"
              srcset="/img/products/galaxy-earrings-newin-desktop.webp 1x,img/products/galaxy-earrings-newin-desktop@2x.webp 2x"
            />
            <source
              type="image/webp"
              srcset="/img/products/galaxy-earrings-newin-desktop.webp 1x,img/products/galaxy-earrings-newin-desktop@2x.webp 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="/img/products/galaxy-earrings-newin-desktop.jpg 1x, img/products/galaxy-earrings-newin-desktop@2x.jpg 2x"
            />
            <source
              media="(max-width: 1023px)"
              srcset="/img/products/galaxy-earrings-newin-desktop.jpg 1x, img/products/galaxy-earrings-newin-desktop@2x.jpg 2x"
            />
            <img
              width="270"
              height="284"
              src="/img/products/galaxy-earrings-newin-desktop.jpg"
              srcset="/img/products/galaxy-earrings-newin-desktop@2x.jpg 2x"
              alt="Picture of galaxy earrings"
            />
          </picture>
          <h3>Galaxy earrings</h3>
          <p>$ 95</p>
        </a>
      </li>
      <li class="splide__slide">
        <a class="product-card" href="#">
          <picture>
            <source
              type="image/webp"
              media="(max-width: 767px)"
              srcset="/img/products/purple-gemstone-necklace-newin-mobile.webp 1x,img/products/purple-gemstone-necklace-newin-mobile@2x.webp 2x"
            />
            <source
              type="image/webp"
              media="(max-width: 1023px)"
              srcset="/img/products/purple-gemstone-necklace-newin-tablet.webp 1x,img/products/purple-gemstone-necklace-newin-tablet@2x.webp 2x"
            />
            <source
              type="image/webp"
              srcset="/img/products/purple-gemstone-necklace-newin-desktop.webp 1x,img/products/purple-gemstone-necklace-newin-desktop@2x.webp 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="/img/products/purple-gemstone-necklace-newin-mobile.jpg 1x, img/products/purple-gemstone-necklace-newin-mobile@2x.jpg 2x"
            />
            <source
              media="(max-width: 1023px)"
              srcset="/img/products/purple-gemstone-necklace-newin-tablet.jpg 1x, img/products/purple-gemstone-necklace-newin-tablet@2x.jpg 2x"
            />
            <img
              width="270"
              height="284"
              src="/img/products/purple-gemstone-necklace-newin-desktop.jpg"
              srcset="/img/products/purple-gemstone-necklace-newin-desktop@2x.jpg 2x"
              alt="Picture of necklace with amethyst"
            />
          </picture>
          <h3>Necklace with amethyst</h3>
          <p>$ 145</p>
        </a>
      </li>
      <li class="splide__slide">
        <a class="product-card" href="#">
          <picture>
            <source
              type="image/webp"
              media="(max-width: 767px)"
              srcset="/img/products/layered-choker-necklace-newin-mobile.webp 1x,img/products/layered-choker-necklace-newin-mobile@2x.webp 2x"
            />
            <source
              type="image/webp"
              media="(max-width: 1023px)"
              srcset="/img/products/layered-choker-necklace-newin-tablet.webp 1x,img/products/layered-choker-necklace-newin-tablet@2x.webp 2x"
            />
            <source
              type="image/webp"
              srcset="/img/products/layered-choker-necklace-newin-desktop.webp 1x,img/products/layered-choker-necklace-newin-desktop@2x.webp 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="/img/products/layered-choker-necklace-newin-mobile.jpg 1x, img/products/layered-choker-necklace-newin-mobile@2x.jpg 2x"
            />
            <source
              media="(max-width: 1023px)"
              srcset="/img/products/layered-choker-necklace-newin-tablet.jpg 1x, img/products/layered-choker-necklace-newin-tablet@2x.jpg 2x"
            />
            <img
              width="270"
              height="284"
              src="/img/products/layered-choker-necklace-newin-desktop.jpg"
              srcset="/img/products/layered-choker-necklace-newin-desktop@2x.jpg 2x"
              alt="Picture of layered сhoker"
            />
          </picture>
          <h3>Layered сhoker</h3>
          <p>$ 115</p>
        </a>
      </li>
      <li class="splide__slide">
        <a class="product-card slider__slide slider__slide--show" href="#">
          <picture>
            <source
              type="image/webp"
              media="(max-width: 767px)"
              srcset="/img/products/dainty-gold-necklace-newin-desktop.webp 1x,img/products/dainty-gold-necklace-newin-desktop@2x.webp 2x"
            />
            <source
              type="image/webp"
              media="(max-width: 1023px)"
              srcset="/img/products/dainty-gold-necklace-newin-desktop.webp 1x,img/products/dainty-gold-necklace-newin-desktop@2x.webp 2x"
            />
            <source
              type="image/webp"
              srcset="/img/products/dainty-gold-necklace-newin-desktop.webp 1x,img/products/dainty-gold-necklace-newin-desktop@2x.webp 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="/img/products/dainty-gold-necklace-newin-desktop.jpg 1x, img/products/dainty-gold-necklace-newin-desktop@2x.jpg 2x"
            />
            <source
              media="(max-width: 1023px)"
              srcset="/img/products/dainty-gold-necklace-newin-desktop.jpg 1x, img/products/dainty-gold-necklace-newin-desktop@2x.jpg 2x"
            />
            <img
              width="270"
              height="284"
              src="/img/products/dainty-gold-necklace-newin-desktop.jpg"
              srcset="/img/products/dainty-gold-necklace-newin-desktop@2x.jpg 2x"
              alt="Picture of gold chain"
            />
          </picture>
          <h3>Gold chain</h3>
          <p>$ 215</p>
        </a>
      </li>
      <li class="splide__slide">
        <a class="product-card" href="#">
          <picture>
            <source
              type="image/webp"
              media="(max-width: 767px)"
              srcset="/img/products/galaxy-earrings-newin-desktop.webp 1x,img/products/galaxy-earrings-newin-desktop@2x.webp 2x"
            />
            <source
              type="image/webp"
              media="(max-width: 1023px)"
              srcset="/img/products/galaxy-earrings-newin-desktop.webp 1x,img/products/galaxy-earrings-newin-desktop@2x.webp 2x"
            />
            <source
              type="image/webp"
              srcset="/img/products/galaxy-earrings-newin-desktop.webp 1x,img/products/galaxy-earrings-newin-desktop@2x.webp 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="/img/products/galaxy-earrings-newin-desktop.jpg 1x, img/products/galaxy-earrings-newin-desktop@2x.jpg 2x"
            />
            <source
              media="(max-width: 1023px)"
              srcset="/img/products/galaxy-earrings-newin-desktop.jpg 1x, img/products/galaxy-earrings-newin-desktop@2x.jpg 2x"
            />
            <img
              width="270"
              height="284"
              src="/img/products/galaxy-earrings-newin-desktop.jpg"
              srcset="/img/products/galaxy-earrings-newin-desktop@2x.jpg 2x"
              alt="Picture of galaxy earrings"
            />
          </picture>
          <h3>Galaxy earrings</h3>
          <p>$ 95</p>
        </a>
      </li>
      <li class="splide__slide">
        <a class="product-card" href="#">
          <picture>
            <source
              type="image/webp"
              media="(max-width: 767px)"
              srcset="/img/products/purple-gemstone-necklace-newin-mobile.webp 1x,img/products/purple-gemstone-necklace-newin-mobile@2x.webp 2x"
            />
            <source
              type="image/webp"
              media="(max-width: 1023px)"
              srcset="/img/products/purple-gemstone-necklace-newin-tablet.webp 1x,img/products/purple-gemstone-necklace-newin-tablet@2x.webp 2x"
            />
            <source
              type="image/webp"
              srcset="/img/products/purple-gemstone-necklace-newin-desktop.webp 1x,img/products/purple-gemstone-necklace-newin-desktop@2x.webp 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="/img/products/purple-gemstone-necklace-newin-mobile.jpg 1x, img/products/purple-gemstone-necklace-newin-mobile@2x.jpg 2x"
            />
            <source
              media="(max-width: 1023px)"
              srcset="/img/products/purple-gemstone-necklace-newin-tablet.jpg 1x, img/products/purple-gemstone-necklace-newin-tablet@2x.jpg 2x"
            />
            <img
              width="270"
              height="284"
              src="/img/products/purple-gemstone-necklace-newin-desktop.jpg"
              srcset="/img/products/purple-gemstone-necklace-newin-desktop@2x.jpg 2x"
              alt="Picture of necklace with amethyst"
            />
          </picture>
          <h3>Necklace with amethyst</h3>
          <p>$ 145</p>
        </a>
      </li>
      <li class="splide__slide">
        <a class="product-card" href="#">
          <picture>
            <source
              type="image/webp"
              media="(max-width: 767px)"
              srcset="/img/products/layered-choker-necklace-newin-mobile.webp 1x,img/products/layered-choker-necklace-newin-mobile@2x.webp 2x"
            />
            <source
              type="image/webp"
              media="(max-width: 1023px)"
              srcset="/img/products/layered-choker-necklace-newin-tablet.webp 1x,img/products/layered-choker-necklace-newin-tablet@2x.webp 2x"
            />
            <source
              type="image/webp"
              srcset="/img/products/layered-choker-necklace-newin-desktop.webp 1x,img/products/layered-choker-necklace-newin-desktop@2x.webp 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="/img/products/layered-choker-necklace-newin-mobile.jpg 1x, img/products/layered-choker-necklace-newin-mobile@2x.jpg 2x"
            />
            <source
              media="(max-width: 1023px)"
              srcset="/img/products/layered-choker-necklace-newin-tablet.jpg 1x, img/products/layered-choker-necklace-newin-tablet@2x.jpg 2x"
            />
            <img
              width="270"
              height="284"
              src="/img/products/layered-choker-necklace-newin-desktop.jpg"
              srcset="/img/products/layered-choker-necklace-newin-desktop@2x.jpg 2x"
              alt="Picture of layered сhoker"
            />
          </picture>
          <h3>Layered сhoker</h3>
          <p>$ 115</p>
        </a>
      </li>
      <li class="splide__slide">
        <a class="product-card slider__slide slider__slide--show" href="#">
          <picture>
            <source
              type="image/webp"
              media="(max-width: 767px)"
              srcset="/img/products/dainty-gold-necklace-newin-desktop.webp 1x,img/products/dainty-gold-necklace-newin-desktop@2x.webp 2x"
            />
            <source
              type="image/webp"
              media="(max-width: 1023px)"
              srcset="/img/products/dainty-gold-necklace-newin-desktop.webp 1x,img/products/dainty-gold-necklace-newin-desktop@2x.webp 2x"
            />
            <source
              type="image/webp"
              srcset="/img/products/dainty-gold-necklace-newin-desktop.webp 1x,img/products/dainty-gold-necklace-newin-desktop@2x.webp 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="/img/products/dainty-gold-necklace-newin-desktop.jpg 1x, img/products/dainty-gold-necklace-newin-desktop@2x.jpg 2x"
            />
            <source
              media="(max-width: 1023px)"
              srcset="/img/products/dainty-gold-necklace-newin-desktop.jpg 1x, img/products/dainty-gold-necklace-newin-desktop@2x.jpg 2x"
            />
            <img
              width="270"
              height="284"
              src="/img/products/dainty-gold-necklace-newin-desktop.jpg"
              srcset="/img/products/dainty-gold-necklace-newin-desktop@2x.jpg 2x"
              alt="Picture of gold chain"
            />
          </picture>
          <h3>Gold chain</h3>
          <p>$ 215</p>
        </a>
      </li>
      <li class="splide__slide">
        <a class="product-card" href="#">
          <picture>
            <source
              type="image/webp"
              media="(max-width: 767px)"
              srcset="/img/products/galaxy-earrings-newin-desktop.webp 1x,img/products/galaxy-earrings-newin-desktop@2x.webp 2x"
            />
            <source
              type="image/webp"
              media="(max-width: 1023px)"
              srcset="/img/products/galaxy-earrings-newin-desktop.webp 1x,img/products/galaxy-earrings-newin-desktop@2x.webp 2x"
            />
            <source
              type="image/webp"
              srcset="/img/products/galaxy-earrings-newin-desktop.webp 1x,img/products/galaxy-earrings-newin-desktop@2x.webp 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="/img/products/galaxy-earrings-newin-desktop.jpg 1x, img/products/galaxy-earrings-newin-desktop@2x.jpg 2x"
            />
            <source
              media="(max-width: 1023px)"
              srcset="/img/products/galaxy-earrings-newin-desktop.jpg 1x, img/products/galaxy-earrings-newin-desktop@2x.jpg 2x"
            />
            <img
              width="270"
              height="284"
              src="/img/products/galaxy-earrings-newin-desktop.jpg"
              srcset="/img/products/galaxy-earrings-newin-desktop@2x.jpg 2x"
              alt="Picture of galaxy earrings"
            />
          </picture>
          <h3>Galaxy earrings</h3>
          <p>$ 95</p>
        </a>
      </li>
    </ul>
  </div>
</div>

<script>
  import Splide from "@splidejs/splide";

  const sliderElement = document.querySelector(".splide");

  if (sliderElement) {
    const splide = new Splide(".splide", {
      type: "slide",
      width: "1170px",
      perPage: 4,
      perMove: 4,
      drag: false,
      gap: "30px",
      classes: {
        pagination: "splide__pagination list slider__pagination",
        page: "splide__pagination__page link",
      },
      breakpoints: {
        1230: {
          width: "900px",
          perPage: 3,
          perMove: 3,
        },
        1023: {
          width: "678px",
          perPage: 2,
          perMove: 2,
          drag: true,
          flickPower: 1000,
        },
        767: {
          width: "290px",
          perPage: 2,
          perMove: 2,
          drag: true,
        },
      },
    });

    splide.on("pagination:mounted", function (data) {
      data.items.forEach(function (item) {
        item.button.textContent = String(item.page + 1);
        item.button.setAttribute("data-page-counter", String(item.page + 1));
        item.li.classList.add("slider__page");
      });
    });

    splide.on("pagination:updated", function (data, item) {
      var lWidth = window.screen.width;

      if (lWidth <= 767) {
        item.button.textContent = String(item.page + 1);
      }
    });

    splide.mount();
  }
</script>
