@use "../abstracts/viewports";

.link {
  color: var(--link-color);
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color;
  cursor: pointer;

  &:hover,
  &:active {
    color: var(--link-color-hover);
    text-decoration: underline;
    transition-duration: 0.1s;
  }

  &:focus {
    outline: none;
    box-shadow: var(--button-box-shadow);
  }
}

.link--primary {
  color: var(--link--primary-color);
}

.link--secondary {
  color: var(--link--secondary-color);
}

.link--underline {
  line-height: 21px;
  max-width: max-content;
  position: relative;

  &:hover {
    text-decoration: none;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    height: 2px;
    background-color: var(--link--lead-after-bgc);
  }
}

@media (max-width: viewports.$tablet) {
  .link--m-icon-only {
    .link__icon {
      width: 21px;
      height: 21px;
      margin-bottom: 0;
      margin-right: 0;
    }

    .link__text {
      display: none;
    }
  }
}

.link__icon {
  margin-bottom: -1px;
  margin-right: 12px;
  fill: currentColor;

  &:only-child {
    margin-right: 0;
  }
}
