@use "../abstracts/viewports";

.page-banner {
  background-color: var(--page-banner-bgc);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-sizing: border-box;
  position: relative;
}

.page-banner::before {
  content: "";
  display: block;
  background-color: var(--page-banner-before-bgc);
  opacity: 70%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.page-banner--front-page {
  background-image: url("../img/backgrounds/main-page-hero-desktop.jpg");
  min-height: 463px;
  padding-top: 180px;
  margin-bottom: 120px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/backgrounds/main-page-hero-desktop@2x.jpg");
  }

  @media (max-width: viewports.$desktop) {
    background-image: url("../img/backgrounds/main-page-hero-tablet.jpg");
    margin-bottom: 70px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/main-page-hero-tablet@2x.jpg");
    }
  }

  @media (max-width: viewports.$tablet) {
    background-image: url("../img/backgrounds/main-page-hero-mobile.jpg");
    padding-top: 188px;
    margin-bottom: 60px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/main-page-hero-mobile@2x.jpg");
    }
  }

  .title {
    margin-bottom: 0;
  }

  .subtitle {
    margin-top: -7px;
  }

  .page-banner__content {
    @media (max-width: viewports.$desktop) {
      margin-right: 17px;
    }

    @media (max-width: viewports.$tablet) {
      margin-right: 0;
    }
  }
}

.page-banner--catalog {
  padding-top: 91px;
  padding-bottom: 86px;
  margin-bottom: 80px;
  background-image: url("../img/backgrounds/catalog-hero-desktop.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/backgrounds/catalog-hero-desktop@2x.jpg");
  }

  @media (max-width: viewports.$desktop) {
    background-image: url("../img/backgrounds/catalog-hero-tablet.jpg");
    margin-bottom: 51px;


    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/catalog-hero-tablet@2x.jpg");
    }
  }

  @media (max-width: viewports.$tablet) {
    background-image: url("../img/backgrounds/catalog-hero-mobile.jpg");
    padding-top: 80px;
    padding-bottom: 69px;
    margin-bottom: 40px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/catalog-hero-mobile@2x.jpg");
    }
  }

  .title {
    font-size: 34px;
    line-height: 44px;
    margin-bottom: 0;
  }

  .subtitle {
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
  }
}

.page-banner__content {
  position: relative;
}

.page-banner__title {
  margin-bottom: 2px;
}
