@use "../abstracts/viewports";

.search-field {
  display: block;
  position: relative;

  @media (max-width: viewports.$desktop) {
    align-items: center;
    background-color: var(--search-field-bgc--open);
    border-radius: 21px;
    height: 40px;
  }
}

.search-field__icon {
  position: absolute;
  top: 12px;
  left: 0;
  fill: var(--search-field__icon-fill);

  @media (max-width: viewports.$desktop) {
    left: 12px;
    width: 16px;
    height: 16px;
    fill: var(--search-field__icon-fill--open);
  }
}

.search-field input {
  box-sizing: border-box;
  width: 100%;
  display: block;
  border: none;
  padding: 9px 0 9px 29px;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: var(--text-default-color);

  &::placeholder {
    color: var(--text-muted-color);

    @media (max-width: viewports.$desktop) {
      visibility: hidden;
    }
  }

  &:hover::placeholder {
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color;
    color: var(--text-muted-color-hover);
  }

  &:focus {
    outline: none;
    box-shadow: var(--outline-box-shadow);
  }

  @media (max-width: viewports.$desktop) {
    color: var(--search-field__input-color--open);
  }
}
