@use "../abstracts/viewports";

.section-faq {
  margin-bottom: 60px;

  @media (max-width: viewports.$desktop) {
    margin-bottom: 22px;
  }

  @media (max-width: viewports.$tablet) {
    margin-bottom: 14px;
  }
}

.section-faq__accordion {
  max-width: 970px;
  margin-right: auto;
  margin-left: auto;
}

.section-faq__title {
  margin-bottom: 49px;

  @media (max-width: viewports.$tablet) {
    margin-bottom: 28px;
  }
}
