.app-control {
  display: flex;
  column-gap: 30px;
  font-size: 14px;
  line-height: 21px;

  .button {
    padding-left: 0;
    padding-right: 0;
  }

  .cart-count {
    padding-left: 0;
  }

  @media (max-width: $tablet) {
    .app-control__cart-button {
      margin-top: -8px;
    }
  }
}


.app-control__cart-icon {
  fill: transparent;
  display: none;

  @media (max-width: $desktop) {
    display: block;
    stroke: currentColor;
  }
}
