.button {
  color: var(--button-color);
  background-color: var(--button-bgc);
  border: 1px solid var(--button-border-color);
  position: relative;
  display: inline-block;
  padding: 9px 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;

  &:hover,
  &:active {
    background-color: var(--button-bgc-hover);
    border-color: var(--button-border-color-hover);
    transition-duration: 0.1s;
  }

  &:focus {
    outline: none;
    box-shadow: var(--button-box-shadow);
  }
}

.button--primary {
  color: var(--button--primary-color);
  background-color: var(--button--primary-bgc);
  border-color: var(--button--primary-border-color);

  &:hover,
  &:active {
    background-color: var(--button--primary-bgc-hover);
    border-color: var(--button--primary-border-color-hover);
  }
}

.button--outline {
  color: var(--button--outline-color);
  background-color: var(--button--outline-bgc);
  border-color: var(--button--ouline-border-color);

  &:hover,
  &:active {
    background-color: var(--button--outline-bgc-hover);
    border-color: var(--button--ouline-border-color-hover);
  }
}

.button--invisible {
  color: var(--button--invisible-color);
  background-color: transparent;
  border: 0;

  &:hover,
  &:active {
    color: var(--button--invisible-color-hover);
    background-color: transparent;
  }

  &:hover {
    .button__icon--primary {
      stroke: var(--button__icon--primary-stroke-hover);
      transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
      transition-property: stroke;
    }
  }
}

.button--large {
  padding: 23px 40px 22px;
}

.button--block {
  display: block;
  width: 100%;
  text-align: center;
}

.button__icon {
  margin-left: 8px;
  stroke: currentColor;

  &:only-child {
    margin-left: 0;
  }
}

.button__icon--primary {
  color: var(--button__icon--primary-stroke);
}
