.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 19px;
  margin-bottom: 19px;

  .product-card {
    width: 100%;
    height: 100%;
  }

  @media (max-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
}
