.filter-form__open-button {
  display: none;

  @media (max-width: $desktop) {
    display: block;
  }
}

.filter-form__form {
  @media (max-width: $desktop) {
    display: none;
  }
}

.filter-form__close-button {
  display: none;
}

.filter-form__form--open {
  @media (max-width: $desktop) {
    display: block;
    padding-bottom: 40px;
    position: fixed;
    top: 27px;
    left: 0;
    width: 442px;
    height: auto;
    box-shadow: 0 5px 32px var(--filter-form--open-box-shadow);

    .accordion__item {
      border-left-width: 0;
      border-right-width: 0;
    }

    .accordion__item:first-child {
      border-top: 0;
    }

    .filter-form__close-button {
      position: absolute;
      display: flex;
      top: -16px;
      right: -16px;
    }
  }

  @media (max-width: $tablet) {
    position: absolute;
    top: 60px;
    width: calc(100% - 50px);
    margin-left: 25px;
    margin-right: 15px;
  }

  .filter-form__controls {
    @media (max-width: $desktop) {
      padding-left: 21px;
      padding-right: 40px;
    }

    @media (max-width: $tablet) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.filter-form__controls {
  display: grid;
  row-gap: 25px;
}
