.menu-button {
  display: flex;
  border: none;
  padding: 0;
  background-color: transparent;
}

.menu-button__icon {
  stroke: $menu-button__icon-stroke;
}

.menu-button--open {
  @media (max-width: $desktop) {
    .menu-button__icon {
      stroke: $menu-button__icon-stroke--open;
    }
  }
}
