.range-filter__controls {
  padding-top: 4px;
  padding-bottom: 23px;

  @media (max-width: $desktop) {
    margin-bottom: 9px;
  }
}

.range-filter__scale {
  position: relative;
  height: 1px;
  background-color: var(--range-filter__scale-bgc);
}

.range-filter__bar {
  height: 1px;
  background-color: var(--range-filter__bar-bgc);
}

.range-filter__toggle {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: -7px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--range-filter__toggle-bgc-before);
    margin-bottom: 6px;
  }
}

.range-filter__toggle:hover {
  &::before {
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: background-color;
    background-color: var(--range-filter__toggle-bgc-before-hover);
  }
}

.range-filter__toggle:focus {
  outline: none;

  &::before {
    outline: none;
    box-shadow: var(--button-box-shadow);
  }
}

.range-filter__price-inputs {
  display: none;
}
