.search-field {
  display: grid;
  grid-template-columns: min-content auto;

  @media (max-width: $desktop) {
    align-items: center;
    background-color: $search-field-bgc--open;
    border-radius: 21px;
    height: 40px;
  }
}

.search-field__icon {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-top: 3px;
  fill: $search-field__icon-fill;

  @media (max-width: $desktop) {
    margin-top: 0;
    margin-left: 12px;
    width: 16px;
    height: 16px;
    fill: $search-field__icon-fill--open;
  }
}

.search-field__input {
  grid-column: 2 / -1;
  border: none;
  padding: 0 0 0 15px;
  background-color: transparent;
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;

  @media (max-width: $desktop) {
    color: $search-field__input-color--open;
  }
}

.search-field__input::placeholder {
  color: $search-field__input-placeholder-color;

  @media (max-width: $desktop) {
    visibility: hidden;
  }
}
