.site-navigation {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $site-navigation__link-color;

  @media (max-width: $desktop) {
    grid-template-columns: auto;
  }

  @media (max-width: $tablet) {
    row-gap: 30px;
  }
}

.site-navigation__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 34px;

  @media (max-width: $desktop) {
    flex-direction: column;
    row-gap: 21px;

    .link {
      font-size: 24px;
      line-height: 36px;
      color: var(--site-navigation__list-link--open-color);
    }
  }
}

.site-navigation__list--secondary-menu {
  display: none;

  @media (max-width: $desktop) {
    display: flex;
    row-gap: 20px;
    margin-top: 41px;
    margin-bottom: 45px;

    .link {
      font-size: 18px;
      line-height: 23px;
      opacity: 0.75;
    }
  }

  @media (max-width: $tablet) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.site-navigation__login-link {
  display: none;

  @media (max-width: $desktop) {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    text-decoration: none;
    color: var(--site-navigation__list-link--open-color);
  }
}
