.title {
  font-family: "Cormorant Garamond", "Times", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 58px;
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-color);
  letter-spacing: 0.03em;

  @media (max-width: $tablet) {
    font-size: 38px;
    line-height: 49px;
  }
}

.title--second {
  font-size: 34px;
  line-height: 44px;
}

.title--third {
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  letter-spacing: normal;
}
