.title {
  font-family: "Cormorant Garamond", "Times", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-color);
  letter-spacing: 0.03em;
}

.title--second {
  font-size: 34px;
  line-height: 44px;
}
