.no-js {
  @media (max-width: $desktop) {
    .site-header {
      margin-bottom: 10px;
    }
    .site-header__wrapper {
      background-color: $site-header__wrapper-bgc--open;
    }

    .site-header__menu-button {
      display: none;
    }

    .site-header__inner-layout {
      grid-template-rows: none;
    }

    .site-header__search-field {
      display: grid;
      grid-column: 1 / -1;
      grid-row: 2 / 3;
      margin-top: 10px;
    }

    .site-header__site-navigation {
      display: grid;
      margin-bottom: 75px;
    }

    .site-navigation__link {
      color: $site-navigation__link-color--open;
    }

    .logo__image {
      fill: $white;
    }

    .app-control__cart-icon {
      stroke: $header-functional-links__icon-stroke--open;
    }

    .accordion__body {
      display: block;
    }

    .filter-form__form {
      display: block;
    }

    .filter-form__open-button {
      display: none;
    }
  }

  .slider__controls {
    display: none;
  }

  .slider__pagination {
    display: none;
  }


}
