.no-js {
  @media (max-width: $desktop) {
    .site-header {
      margin-bottom: 10px;
    }

    .site-header__wrapper {
      background-color: var(--site-header__wrapper-bgc--open);
    }

    .site-header__menu-button {
      display: none;
    }

    .site-header__inner-layout {
      grid-template-rows: none;
    }

    .site-header__search-field {
      display: grid;
      grid-column: 1 / -1;
      grid-row: 2 / 3;
      margin-top: 10px;
    }

    .site-header__site-navigation {
      display: grid;
      margin-bottom: 75px;
    }

    .site-navigation__link {
      color: var(--site-navigation__list-link--open-color);
    }

    .logo__image {
      fill: $white;
    }

    .app-control__cart-icon {
      stroke: var(--app-control__cart-icon--open);
    }

    .accordion__body {
      display: block;
    }

    .filter-form__form {
      display: block;
    }

    .filter-form__open-button {
      display: none;
    }
  }

  .slider__controls {
    display: none;
  }

  .splide {
    visibility: visible;
  }

  .splide__list {
    flex-wrap: wrap;
    column-gap: 30px;
  }

  .splide__slide {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    &:nth-child(n + 5) {
      display: none;
    }

    @media (max-width: $desktop) {
      flex-basis: calc((100% / 2) - 30px);

      &:nth-child(n + 3) {
        display: none;
      }
    }
  }
}
